<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="XMLJdbcConnection" class="/springexample/src/main/java/com/springexample/xml/XMLJdbcConnection.java">
    <!-- collaborators and configuration for this bean go here -->
  </bean>

  <bean id="XMLPersonDAO" class="/springexample/src/main/java/com/springexample/xml/XMLPersonDAO.java">
    <!-- collaborators and configuration for this bean go here -->
    <property name="XMLJdbcConnection" ref="XMLJdbcConnection"></property>
  </bean>

  <!-- more bean definitions go here -->

</beans>
